<form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
  <input type="text" formControlName="email" placeholder="Email address">
  <input type="text" formControlName="password" placeholder="Password">
  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
